*.ipynb
*__pycache__/
.env
.git/
.github/
.ruff_cache/
.venv/
.vscode/
backtesting-app.service
cmds.md
deploy-to-ec2.md
docker-compose.traefik.yml
docker-compose.yml
Dockerfile
strategies.py
testing_nb.ipynb
testing_script.py
TODO.md
