__pycache__/
.env
.ruff_cache
.venv
.vscode
backtesting-app.service
cmds.md
deploy-to-ec2.md
docker-compose.traefik.yml
docker-compose.yml
Dockerfile
markets_mapping.json
strategies.py
testing_nb.ipynb
testing_script.py
TODO.md
Untitled-1.ipynb
